from core.bootstrap import Application
from cachecontrol.caches import FileCache
from access_keys import ACCESS_KEYS  # NOQA

APPLICATION = Application({
    "DATABASE": "db.json",
    "FILE_CACHE": FileCache('.webcache', forever=True),
    "POPULARITY_PROVIDER": "providers.popularity.torrentz",
    "MOVIEDATA_PROVIDERS": [
        "providers.moviedata.filmtipset",
        "providers.moviedata.imdb",
    ],
    "OUTPUT_PROVIDER": "providers.output.terminal",
    # "DEBUG": True,
})
